<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Formulário do evento</title>
    </head>
    <body>
        <h1>Formulário do evento</h1>
        <form method="post">
            Nome: <br/> <input type="text" value="" name="nome"/> <br/><br/> 
            Local: <br/> <input type="text" value="" name="local"/> <br/><br/> 
            Data: <br/> <input type="date" value="" name="data"/> <br/><br/> 
            Horario: <br/> <input type="text" value="" name="horario"/> <br/><br/> 
            <button type="submit">Salvar</button>
        </form>
        
    </body>
</html>